/*********** General ***********/
* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --light-blue: #deebff;
  --grey: lightgrey;
  --dark-grey: dimgrey;
  --white: white;
  --black: #000000;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
  margin:0px;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  min-width: 320px;
  padding: 0 50px;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: var(--white);
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/*********** Header ***********/
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  height: 20px;
  padding-top: 15px;
}

.logo img {
  height: 100%;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 270px;
}

.little-menu {
  width: 50%;
  text-align: center;
  padding-top: 20px;
  border-top-width: 3px;
  border-color: var(--white);
  border-top-style: solid;
}

.little-menu:hover {
  padding-top: 20px;
  color: var(--main-color);
  border-top: var(--main-color);
  border-top-style: solid;
  border-top-width: 3px;
}

/*********** Section de recherche ***********/
.search-section {
  height: 7%;
  margin-top: 40px;
}

.search-section p, h2 {
  margin-bottom: 5px;
  margin-top: 5px;
}

.search-bar {
  display: flex;
  height: 50px;
  margin-top: 20px;
}

.search-bar .fa-location-dot {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--black);
  background-color: var(--main-bg-color);
  height: 100%;
  width: 50px;
  border-radius: 15px 0 0 15px;
}

.search-bar input {
  border: 0px none var(--white);
  border-top: 1px solid var(--grey);
  border-bottom: 1px solid var(--grey);
  font-size: 16px;
  font-weight: bold;
  padding-left: 10px;
}

form input::placeholder {
  color: var(--black);
  font-weight: bold;
}

form button {
  color: var(--white);
  background-color: var(--main-color);
  cursor: pointer;
  border: none;
  border-radius: 0 14px 14px 0;
  font-weight: bold;
  font-size: 16px;
  padding-right: 15px;
  padding-left: 15px;
}

button .search-text {
  position: relative;
}

button .fa-magnifying-glass {
  position: absolute;
}


/*********** Filters ***********/
.filters {
  display: flex;
  flex-direction: row;
  padding-top: 18px;
}

.filters h3 {
  margin-right: 20px;
}

.boutons-filtres {
  display: flex;
  flex-direction: row;
}

.fa-money-bill-wave,
.fa-child-reaching,
.fa-heart,
.fa-fire {
  border-style: solid;
  border-color: var(--grey);
  border-radius: 35px;
  padding: 15px;
  margin-top: 5px;
  margin-right: 20px;
}

.fa-money-bill-wave:hover {
  background-color: var(--light-blue);
}

.fa-child-reaching:hover {
  background-color: var(--light-blue);
}

.fa-heart:hover {
  background-color: var(--light-blue);
}

.fa-fire:hover {
  background-color: var(--light-blue);
}

.btn-filter-text {
  color: var(--black);
}

/********** Info **********/
.icon-info {
  display: flex;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 20px;
}

.fa-solid.fa-info {
  min-width: 25px;
}

/********** Hébergements & Populaires **********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding-inline: 30px;
  box-sizing: border-box;
  padding-top: 30px;
  padding-bottom: 10px;
}

/********** Hébergements **********/
#hebergements {
  width: 65%;
}

.hebergements-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hebergements-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px;
}

.hebergements-cards .card {
  display: flex;
  margin-top: 33px;
  flex-direction: column;
  height: 200px;
  width: 250px;
}

.hebergements-cards img {
  width: 100%;
  height: 120px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.hebergements-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
  text-wrap: nowrap;
}

.hebergements-cards .card-subtitle {
  margin: 0;
}

.hebergements-cards .card-rating {
  margin-bottom: 5px;
}

.hebergements-cards .card-content {
  width: 100%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

/********** Populaires **********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/********** Activités **********/

#activites {
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 60px;
}

.activites-cards {
  display: flex;
  justify-content: space-between;
}

.activites-cards .card {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  height: 360px;
  width: 23%;
  padding: 0px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.activites-cards img {
  height: 85%;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.activites-cards .card-title {
  height: 5%;
  margin: 0px;
  padding: 0px;
  padding-top: 20px;
  padding-left: 10px;
}

/********** Footer **********/
.footer {
  display: flex;
  flex-direction: row;
  background-color: var(--main-bg-color);
  margin-top: 60px;
}

.footer .row {
  width: 33%;
  padding-left: 30px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/********** Media queries **********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .hebergements-and-populaires {
    flex-direction: column;
  }

  .filters {
    display: flex;
    flex-direction: column;
    padding-top: 18px;
  }

  #hebergements {
    width: 100%;
    flex-direction: row;
  }

  .hebergements-cards {
    justify-content: space-around;
  }

  .hebergements-cards a {
    width: 30%;
  }

  .hebergements-cards .card {
    width: 100%;
  }

  .hebergements-cards .card-subtitle {
    font-size: 12px;
  }

  .populaires {
    width: 100%;
    margin:auto;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }

  .activites {
    width: 100%;
  }

  .activites-cards .card {
    height: 250px;
  }

  .activites-cards img {
    height: 175px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  .header {
    flex-direction: column;
    align-items: center;
    width: 320px;
  }

  .logo {
    align-items: center;
    height: 30px;
  }

  .nav {
    width: 100%;
    justify-content: space-between;
    border-bottom: var(--main-bg-color);
    border-bottom-style: solid;
    padding-top: 30px;
  }

  .little-menu {
    padding-top: 0px;
    padding-bottom: 20px;
  }

  .little-menu:hover {
    padding-top: 0px;
    padding-bottom: 20px;
    border-top-style: none;
    border-bottom: var(--main-color);
    border-bottom-style: solid;
  }

  .search-section {
    width: 320px;
    height: 3%;
  }

  .search-bar {
    justify-content: space-between;
  }

  .icon-info {
    margin-bottom: 0px;
    width: 320px;
  }

  form button {
    border-radius: 14px 14px 14px 14px;
    color: var(--main-color);
    background-color: var(--main-color);
  }

  button .search-text {
    position: absolute;
    color: var(--main-color);
    z-index: 1;
    /* Hide the text */
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
  }

  button .fa-magnifying-glass {
    position: relative;
    color: var(--white);
    z-index: 0;
  }

  .filters {
    width: 320px;
  }

  .boutons-filtres {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .fa-money-bill-wave,
  .fa-child-reaching,
  .fa-heart,
  .fa-fire {
    margin: 0px;
    height: 50%;
    width: 120px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .hebergements-and-populaires {
    width: 320px;
    flex-direction: column-reverse;
  }

  .hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 0px;
    padding-inline: 20px;
  }

  .populaires {
    margin-bottom: 20px;
  }

  .populaires-cards {
    flex-direction: column;
  }

  .populaires-cards a {
    width: 100%;
  }

  .populaires-cards .card {
    width: 100%;
  }

  #hebergements {
    width: 100%;
  }

  .hebergements-cards a {
    width: 100%;
  }

  .activites-cards {
    flex-direction: column;
  }

  #activites h2 {
    margin-bottom: 30px;
  }

  .activites-cards .card {
    width: 100%;
    margin-bottom: 8px;
  }

  .footer {
    flex-direction: column;
  }
}
